$btncolor: #BB00DA;
$background: #EDEDED;
$nav2: #FCDDFF;
$nav3: #F9CBFE;
$hitchglobal1: #AB6BFF;
$hitchglobal2: #FF6BF0;
$lines: #CECECE;
$off: #ff9900;
$productname: #18214D;
$ground: #F9F9F9;
$jolly: #FFD6D6;
$tags: #EEEEEE;
$formbg: #FAFAFA;
$storename: #651373;






